@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400&display=swap');

body{margin:40px
  auto;max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:0 10px;
  font-family: 'Crimson Pro', serif;
}

h1,h2,h3{
  line-height:1.2
}

details {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 0;
}

summary {
  cursor: pointer;
  font-weight: bold;
  list-style: none;
}

summary::marker {
  display: none;
}

summary::-webkit-details-marker {
  display: none;
}

::selection {
  background: #b388ff; /* light purple */
  color: white;        /* optional: makes selected text readable */
}

figcaption {
  text-align: center;
}

img {
  width: 100%;
}



